@model IEnumerable<Doctor>

<div class="card">
    <div class="card-body">
        <ul>
            <li>
                <h1 class="card-title font-18 text-primary">Doctor List</h1>
            </li>
        </ul>
        <hr />

        <a class="btn btn-success text-white" asp-action="Create">Create</a>
        <div class="text-danger">
            @TempData["Message"]
        </div>


        <div class="table-responsive pt-3">
            <table class="table table-bordered  table-hover">
                <thead class="font-18" style="background-color:antiquewhite">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            DoctorID
                        </th>
                        <th>
                           FirstName
                        </th>
                        <th>
                            LastName
                        </th>
                        <th>
                            MobileNo
                        </th>
                        <th>
                            IsAvailable
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            DoctorExperience
                        </th>
                        <th>
                            AreaName
                        </th>
                        <th>
                            PhotoPath
                        </th>
                        <th>
                            DoctorQualification
                        </th>
                        <th>
                           Password
                        </th>
                        <th>
                            ClinicName
                        </th>
                        <th>
                            OPDFees
                        </th>
                       
                        <th>
                            EditAction
                        </th>
                        <th>
                            DeleteAction
                        </th>
                        <th>
                            DetailAction
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @{
                        int srNo = 1;
                    }
                    @foreach (var temp in Model)
                    {
                        <tr>
                            <td>@srNo</td>
                            <td>@temp.DoctorID</td>
                            <td>@temp.FirstName</td>
                            <td>@temp.LastName</td>
                            <td>@temp.MobileNo</td>
                            <td>@temp.IsAvailable</td>
                            <td>@temp.Address</td>
                            <td>@temp.DoctorExperience</td>
                            <td>@temp.Area.AreaName</td>
                           
                            
                            <td>
                                <img src="@temp.PhotoPath" width="80" height="80" />
                            </td>
                            <td>@temp.DoctorQualification</td>
                            <td>@temp.Password</td>
                            <td>@temp.Clinic.ClinicName</td>
                            <td>@temp.OPDFees</td>

                            <td><a asp-action="Edit" asp-route-id="@temp.DoctorID" class="btn btn-primary">Edit</a></td>
                            <td><a asp-action="Delete" asp-route-id="@temp.DoctorID" class="btn btn-danger ">Delete</a></td>
                            <td><a asp-action="Details" asp-route-id="@temp.DoctorID" class="btn btn-danger ">Details</a></td>
                        </tr>
                        srNo++;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


