@model DoctorInfoDto
<div class="card mb-4  mt-2 m-sm-5 ">
    <div class="card-header">
        <div><h4 class="fw-bold text-primary text-center">@Model.DoctorName</h4></div>
        <hr />

        <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <p class="mb-1"><strong>Clinic:</strong> @Model.ClinicName</p>
            <p class="mb-1"><strong>Address:</strong> @Model.ClinicAddress</p>
            <p class="mb-1"><strong>Mobile:</strong> @Model.MobileNo</p>
            <p class="mb-0"><strong>Email:</strong> @Model.EmailID</p>
        </div>
        </div>
     
    </div>

   
    </div> 







        



